body {
    background-color: #aae0ed;
}

h1 {
    color: #234234;
    background-color: #1b5b16;
}

span {
    color: #04047d;
}
/* exemplo id*/
#header {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    height: 80px;
    background-color: #cfa352;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* exemplo classe */
#sidebar {
    height: 400px;
    width: 120px;
    background-color: rgb(53, 145, 58);
}

#content {
    width: 680px;
    background-color: #e3cdf5;
}

#footer {
    height: 150px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.flex-row {
    display: flex;
}

#menu {
    height: 50px;
    width: 50px;
    background-color: #9411a5;
}