header {
  height: 80px;
  background-color: #867d0b;
}

.flex-row {
  display: flex;
}

aside {
  height: 700px;
  width: 10%;
  background-color: #15bf23;
}

main {
  width: 80%;
  background-color: #e0abec;
}

footer {
  height: 80px;
  background-color: #28292d;
}
